<table class="table table-striped table-hover">

		<thead>
			<tr>
				<th></th>
				<th>Product</th>
				<th colspan="2" class="text-center">Quantity</th>
				<th class="text-right">Price</th>
				<th class="text-right">Total</th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			<tr ng-repeat="line in vm.cart.list track by line.product.id">

				<td>
					<img ng-src="{{line.product.image}}" class="img-responsive">
				</td>
				<td><strong>{{line.product.name}}</strong></td>
				<td class="text-right">{{line.quantity}}</td>
				<td>
					<span class="glyphicon glyphicon-plus-sign" 
						ng-click="vm.fireIncrement({cartLine: line})"
						></span>
					<br>
					<span class="glyphicon glyphicon-minus-sign" 
						ng-click="vm.fireDecrement({cartLine: line})"
						ng-class="{'text-muted': line.quantity <= 1}"
						></span>
				</td>
				<td class="text-right">{{line.product.price | currency}}</td>
				<td class="text-right">{{line.product.price * line.quantity | currency}}</td>
				<td>
					<span class="glyphicon glyphicon-remove-circle"
						ng-click="vm.fireDrop({cartLine: line})"
						></span>
				</td>

			</tr>
		</tbody>

		<tfoot>
			<tr>
				<td colspan="5"></td>
				<td class="text-right">
					<strong>{{vm.cart.totalPrice | currency}}</strong>
				</td>
				<td></td>
			</tr>
		</tfoot>

	</table>