<div class="row">

	<scd-cart-summary-table
		ng-if="vm.cart.list.length > 0"
		data-cart="vm.cart"
		on-decrement="vm.decrement(cartLine)"
		on-drop="vm.drop(cartLine)"
		on-increment="vm.increment(cartLine)"
		></scd-cart-summary-table>

	<div class="alert alert-dismissible alert-info"
		ng-if="vm.cart.list.length == 0">

		<strong>Empty cart!</strong>
		You have no items in your cart, 
		go to <a href="#/catalog">catalog</a>
		and select some.

		<br><br>
		<a href="#/catalog" class="btn btn-primary">See catalog  »</a>

	</div>

</div>